:root {
  --h-margin: 6em;
  --min-width: 12em;
	--menu-color: #555;
	--menu-hover: #7a7b7e;
}

html {background: #ecedef; }

body {
	background: white;
	font-family: "Helvetica Neue", Arial, sans-serif;
	
	margin: 0 auto;
  padding: 0;
	width: 90%;
	
	-mox-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

/* body/text elements */
h1 {
	padding: 0.5em 0.7em 0.25em;
	margin: 0;
	text-align: left;
	font-size: 1.4em;
	font-weight: 200;
}

h1#top {
	padding-top: 2.5em;
}

p {
	margin: 0;
	padding: 0 1em 0.65em;
	font-weight: 300;
	line-height: 1.2;
	color: rgba(0, 0, 0, 0.75);
}

p#bottom {
	padding-bottom: 1em;
}

a {
	text-decoration: none;
	text-align: left;
}


/* footer */
footer {
  padding: 0.6em 2em;
  color: rgba(255, 255, 255, 0.85);
  background: var(--menu-color);
  clear: left;
  text-align: center;
  font-size: 0.9em;
  font-weight: 200;
}

/* menu stuff */
nav ul.topnav {
	left: var(--h-margin);
	right: var(--h-margin);
	
	margin: 0 auto;
	padding: 0;
	position: fixed;
	top: 0;
	
	width: 90%;
	left: 5%;
	
	background: var(--menu-color);
	overflow: hidden;
	list-style: none;
}

nav ul.topnav li {
	float: left;
	width: 25%; /* 100% / 4-elements */
}

nav ul.topnav li.nav_icon {
	display: none; 
}

nav ul.topnav li a {
	display: block;
	padding: 0.6em 1.5em;
	text-align: center;
	transition: 0.35s;
	color: white;
}

nav ul.topnav li a:hover {background: var(--menu-hover); }
nav ul.topnav li a.active:hover {background: #ff1e00; }
nav ul.topnav li a.active {background: #d3240d; }


/* changes for small screens */
@media (max-width: 600px) {
	body {
		margin: 0;
		width: 100%;
		-mox-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	
	/* menu stuff (not open) */
	nav ul.topnav {
		left: 0;
		right: 0;
		width: 100%;
		left: 0;
	}
	nav ul.topnav li {
		width: 50%;
	}
	nav ul.topnav li:not(:first-child) {
		display: none;
	}
	nav ul.topnav li.nav_icon {
		float: right;
		display: block;
	}
	
	/* menu stuff (open) */
	nav ul.topnav.open {
		position: fixed;
		left: 0;
	}
	nav ul.topnav.open li {
		float: none;
		display: inline;
	}
	nav ul.topnav.open li.nav_icon {
		position: absolute;
		right: 0;
		top: 0;
		background: var(--menu-color);
	}
	nav ul.topnav.open li a {
		display: block;
		text-align: left;
	}
	nav ul.topnav.open li a.nav_icon_link {
		text-align: center;
	}
}